<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patient"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />
    <!-- android:targetSdkVersion="17" -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.patient.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.patient.NextActivity"
            android:label="@string/title1"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name="com.example.patient.NextActivity2"
            android:label="@string/title_activity_next_activity2"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name="com.example.patient.NextActivity3"
            android:label="@string/title_activity_next_activity3"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name="com.example.patient.NextActivity4"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name="com.example.patient.ReviewActivity"
            android:label="@string/title_activity_review" >
        </activity>
        <activity
            android:name="com.example.patient.NextActivity6"
            android:label="@string/title_activity_next_activity6"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
        <activity
            android:name="com.example.patient.TestClearActivity"
            android:label="@string/title_activity_test_clear" >
        </activity>
        <activity
            android:name="com.example.patient.ThankYou"
            android:label="@string/title_activity_thank_you"
            android:theme="@style/AppThemeNoTitle" >
        </activity>
    </application>

</manifest>
